:root{
    --main-font:'Bebas Neue', cursive;
    --ghost-white:rgb(248,248,255);
    --green:rgb(0,128,0);
    --hover-green:rgb(144,238,144);
    --red:rgb(255,0,0);
    --hover-red:rgb(250,128,114);
}

*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after{
    box-sizing:border-box;
}

html{
    font-size:100%;
    line-height:1.6;
}

body{
    background:url(/images/set-tracker.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    overflow:hidden;
    color:var(--ghost-white);
    height:100vh;

}

.flex{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:1440px;
    margin:0 auto;
}

.content{
    font-family:var(--main-font);
}

.content h1{
    font-size:5rem;
    letter-spacing:3px;
}


.btn{
    width:300px;
    padding:15px 0;
    border:none;
    margin:5px;
    border-radius:10px;
    cursor:pointer;
    font-family: var(--main-font);
    letter-spacing:2px;
    color:var(--ghost-white);
}

.btn-new{
    background-color:var(--green);
}

.btn-new:hover{
    background-color:var(--hover-green);
    transition:0.8s ease;
}

.btn-reset{
    background-color:var(--red);
}

.btn-reset:hover{
    background-color:var(--hover-red);
    transition:0.8s ease;
}

footer{
    align-items: flex-end;
    margin-top:15rem;

}

footer p{
    font-size:0.8rem;
}